@import './base.css';

#app {
  width: 50%;
  height: 650px;
  margin: 0 auto;
  padding-top: 1rem;
  font-weight: normal;
  background-color: #f7f7f7;
  border-radius: 8px;
  text-align: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

#dropdown-phone {
  position: absolute;
  margin: 0px;
  transform: translate3d(-40px, 103px, 0px);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
